/* https://colorhunt.co/palette/1c3879607eaaeae3d2f9f5eb */

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #0F3D3E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1C3879;
    min-height: 450px;
    width: 350px;
    border: solid 10px black;
    border-radius: 10px;
    padding: 10px;
}

.display-area {
    display: flex;
    height: 100px;
    background-color: #B1E1FF;
    border-radius: 5px;
}

.display-area {
    background-color: #F9F5EB;
    margin-bottom: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

.display-text {
    font-size: 3em;
    margin: 2px 5px;
}

.bottom-area {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 3px;
}

.delete {
    flex-grow: 2;
}

.operations {
    flex-grow: 1;
    background-color: #EAE3D2;
    border-radius: 5px;
    min-height: 76px;
    min-width: 76px;
}

/* .delete-area {
    display: flex;
} */

/* .number-and-operator-area {
    display: flex;
}

.operator-area {
    display: flex;
    flex-direction: column;
} */

